.Timer {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(15px);
	transition-duration: .3s;
	outline: 1px solid transparent;
	padding: 1rem;
	height: auto;
	font-size: 2rem;
	border-radius: 15px;
}

.Timer span {
	font-family: "Century Gothic", serif;
}

.Timer span:nth-child(even) {
	padding: 0 .18rem;
}

.Container {
	display: flex;
}

.Container span:nth-child(even) {
	font-size: 1.5rem;
	align-self: center;
}



